<div style="height: 92.5vh;">
<img src="public/images/Logo-CADEN-GRIS.jpg" class="img-responsive">
<div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{dominios}}</div>
                                        <div>Registros de Clientes</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver lista de Clientes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Crear nuevo registro de Cliente</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-motorcycle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{dominios}}</div>
                                        <div>Registros de Motos</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver lista de Motos</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Crear nuevo registro de Motos</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-car fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{dominios}}</div>
                                        <div>Registros de Autos</div>
                                    </div>
                                </div>
                            </div>
                            <a href="tablaautos">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver lista de Autos</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <a href="agregarautos">
                                <div class="panel-footer">
                                    <span class="pull-left">Crear nuevo registro de Auto</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-calendar-plus-o fa-5x" fa-5x></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{baterias}}</div>
                                        <div>Baterias</div>
                                    </div>
                                </div>
                            </div>
                            <a href="tablabaterias">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver lista de Baterias</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <a href="agregarbaterias">
                                <div class="panel-footer">
                                    <span class="pull-left">Agregar registro de Baterias</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
</div>