			<div class="col-md-6 col-md-offset-3">
				<form method="POST" action="/consulta">
					<label for="domin" class="labelDominio" style="margin:15px;">Dominio</label>
					<input autocomplete="off" onkeyup="existe();copiar()" class="form-control" id="domin" type="text" name="Dominio" placeholder="Ingresar patente" style="text-transform:uppercase; margin:15px auto;" onkeydown="javascript:this.value=this.value.toUpperCase();" autofocus  required pattern="^[A-Z]{3}\d{3}$">
					<br>
					<input href="/consulta" id="consulta" class="btn btn-danger disabled" type="submit" value="Consultar Registro"></input>
					<a id="crearnuevo" onclick="envdomin()" class="btn btn-danger">Crear Nuevo Registro</a>
				</form>
				<form method="post" id="myForm" action="/registro" class="hide">
					<input autocomplete="off" onkeyup="existe();copiar()" class="form-control" id="domin1" type="text" name="Dominio1" placeholder="Ingresar patente" style="text-transform:uppercase; margin:15px auto;" onkeydown="javascript:this.value=this.value.toUpperCase();" autofocus  required pattern="^[A-Z]{3}\d{3}$">
				</form>
			</div>

<script>

var autos = ["asd123","tat111"];
{{#each autos}}
       autos.push("{{{this.Dominio}}}")
{{/each}}

function existe(){
	var search = document.getElementById('domin').value;
	coincidencia = autos.indexOf(search.toUpperCase());
	if(coincidencia > -1){
		$("#consulta").removeClass("disabled");
		$("#crearnuevo").addClass("disabled");
	}else{$("#consulta").addClass("disabled");
		  $("#crearnuevo").removeClass("disabled")}
};
function copiar(){
	var dominio1 = document.getElementById('domin').value;
	document.getElementById('domin1').value = dominio1;	
};
function envdomin(){
	var dominio1 = document.getElementById('domin').value;
	document.getElementById('domin1').value = dominio1;
	console.log(dominio1)
	document.getElementById("myForm").submit();	
};
</script>
<script language=javascript type=text/javascript>

function stopRKey(evt) {
	if($("#consulta").hasClass("disabled") && evt.keyCode == 13){

	var evt = (evt) ? evt : ((event) ? event : null);
	var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
	if ((evt.keyCode == 13) && (node.type=="text")) { $("#crearnuevo").click(); return false;}}
	}
document.onkeypress = stopRKey; 
</script>