
<form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Bienvenido a Caden</h2>
        <hr>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
        <div class="checkbox">
        </div>
        {{{error}}}
        <button class="btn btn-danger" type="submit">Ingresar</button>
</form>