			<h2 align=center>Registrar Bateria</h2>

			<div class="col-md-10 col-md-offset-1">
				<form name="f1" method="POST" action="/agregarbaterias">
					<div class="row">	
						<label for="Codigo" class="labelRegistro col-xs-3">Codigo</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="Codigo" placeholder="Ingresar Codigo (sin usar espacios en blanco)" style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" autofocus required>
					</div>
					<div class="row">
						<label for="Marca" class="labelRegistro col-xs-3">Marca</label>
						<select class="form-control col-xs-9 selector" name="Marca" required>
									<option value="">Seleccione Marca</option>

									<option value="Caden">Caden</option>

							        <option value="Moura">Moura</option>
              
							        <option value="ACDelco">ACDelco</option>
						</select>
					</div>
					<div class="row">
						<label for="Modelo" class="labelRegistro col-xs-3">Modelo</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="Modelo" placeholder="Ingresar Modelo" >
					</div>
					<div class="row">	
						<label for="Voltaje" class="labelRegistro col-xs-3">Voltaje</label>
						<select class="form-control col-xs-9 selector" name="Voltaje" >
							<option value="">Seleccione Voltaje</option>
							<option value="6">6</option>
							<option value="12">12</option>
						</select>
					</div>
					<div class="row">
						<label for="Amperaje" class="labelRegistro col-xs-3">Amperaje</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="Amperaje" placeholder="Ingresar Amperaje" >
					</div>
					<div class="row">
						<label for="CCA" class="labelRegistro col-xs-3">CCA</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="CCA" placeholder="Ingresar CCA" >
					</div>
					<div class="row">
						<label for="RC" class="labelRegistro col-xs-3">RC</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="RC" placeholder="Ingresar RC" >
					</div>
					<div class="row">	
						<label for="Borne" class="labelRegistro col-xs-3">Borne</label>
						<select class="form-control col-xs-9 selector" name="Borne" >
							<option value="">Seleccione lado del borne</option>
							<option value="Izquierda">Izquierda</option>
							<option value="Derecha">Derecha</option>
						</select>
					</div>
					<div class="row">
						<label for="Medidas" class="labelRegistro col-xs-3">Medidas</label>
					</div>
					<div class="row">
						<input class="form-control col-xs-3 col-lg-3" id="registro" type="text" name="Alto" placeholder="Ingresar Alto" >
						<input class="form-control col-xs-3 col-lg-3" id="registro" type="text" name="Ancho" placeholder="Ingresar Ancho" >
						<input class="form-control col-xs-3 col-lg-3" id="registro" type="text" name="Largo" placeholder="Ingresar Largo" >
					</div>
					<div class="row">
						<label for="Precio" class="labelRegistro col-xs-3">Precio</label>
						<input class="form-control col-xs-9" id="registro" type="text" name="Precio" placeholder="Ingresar Precio" >
					</div>
					<br>
					<input href="" class="btn btn-danger" type="submit" value="Guardar"></input>
				
				</form>
			</div>


