<form id="edit" action="/actualizarbaterias" method="POST">
<input class="form-control " id="domin" type="text" name="_id" placeholder="Hacer click en un codigo para seleccionar" style="text-transform:uppercase; margin:15px auto; float:left" onkeyup="javascript:this.value=this.value.toUpperCase();" required >
<input style="float:left; margin: 10px" href="" class="btn btn-danger" type="submit" value="EDITAR" style="margin-top:20px"></input></form>

<form id="edit" action="/borrarbaterias" method="POST">
<input class="form-control hide" id="domindel" type="text" name="_id" placeholder="Hacer click en un codigo para seleccionar" style="text-transform:uppercase; margin:15px auto; float:left" onkeyup="javascript:this.value=this.value.toUpperCase();" required >
<input style="float:left; margin: 10px" href="" class="btn btn-danger" type="submit" value="BORRAR" style="margin-top:20px"></input></form>
<div class="box" style="margin-top:5px; padding-bottom:0px">
<table id="example" class="display" cellspacing="0" width="100%">


        <thead>
            <tr>
                <th>Codigo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Voltaje</th>
                <th>Amperaje</th>
                <th>CCA</th>
                <th>RC</th>
                <th>Borne</th>
                <th>AltxAncxLar</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each bat}}
            <tr value={{this._id}} onclick="dominSel({{@index}})">
                <td id="{{@index}}">{{this._id}}</td>
                <td>{{this.marca}}</td>
                <td>{{this.modelo}}</td>
                <td>{{this.voltaje}}</td>
                <td>{{this.amperaje}}</td>
                <td>{{this.cca}}</td>
                <td>{{this.rc}}</td>
                <td>{{this.borne}}</td>
                <td>{{this.medidas.alto}}x{{this.medidas.ancho}}x{{this.medidas.largo}}</td>
                <td>{{this.precio}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
function dominSel(num) {
    document.getElementById("domin").value = document.getElementById(num).innerHTML;
    document.getElementById("domindel").value = document.getElementById(num).innerHTML

};
</script>

